!!! 5
%html{lang: "en"}
  = partial "layouts/head"
  %body
    = partial "layouts/icons"
    = partial "layouts/header"

    %main.row{role: "main"}
      .cell.well
        .g
          %section.g-b.article
            - if current_page.data.title
              %h1#title= current_page.data.title
            - if current_page.data.description
              %p.mbf
                %em= current_page.data.description
            - if current_page.data.date
              %p.tss
                Published
                %strong= current_page.data.date.strftime("%B %-d, %Y")
                - if (!current_page.data.published.nil? && !current_page.data.published)
                  (Draft)
                - if current_page.data.category
                  as a
                  %strong= current_page.data.category + '.'
            ~ yield

          %footer.mtm.g
            .g-b.g-b--1of3.tac
              %a.icon{href: "https://github.com/aj-foster", title: "GitHub profile"}
                <svg><use xlink:href="#icon-github"></use></svg>
            .g-b.g-b--1of3.tac
              %a.icon{href: "https://twitter.com/austin_j_foster", title: "Twitter profile"}
                <svg><use xlink:href="#icon-twitter"></use></svg>
            .g-b.g-b--1of3.tac
              %a.icon.email{href: "#", title: "Email me"}
                <svg><use xlink:href="#icon-email"></use></svg>

    = partial "layouts/footer"